<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
<stringAttribute key="TLCCmdLineParameters" value=""/>
<intAttribute key="autoLockTime" value="15"/>
<stringAttribute key="configurationName" value="TermNotPersited_DoubleLeader"/>
<intAttribute key="dfidDepth" value="100"/>
<booleanAttribute key="dfidMode" value="false"/>
<intAttribute key="distributedFPSetCount" value="0"/>
<stringAttribute key="distributedNetworkInterface" value="169.254.80.80"/>
<stringAttribute key="distributedTLC" value="off"/>
<stringAttribute key="distributedTLCVMArgs" value=""/>
<intAttribute key="fpBits" value="0"/>
<intAttribute key="fpIndex" value="1"/>
<intAttribute key="maxHeapSize" value="25"/>
<intAttribute key="maxSetSize" value="1000000"/>
<booleanAttribute key="mcMode" value="false"/>
<stringAttribute key="modelBehaviorInit" value=""/>
<stringAttribute key="modelBehaviorNext" value=""/>
<stringAttribute key="modelBehaviorSpec" value="Spec"/>
<intAttribute key="modelBehaviorSpecType" value="1"/>
<stringAttribute key="modelBehaviorVars" value="elections, committedLogDecrease, messages, clientRequests, matchIndex, log, state, allLogs, commitIndex, currentTerm, committedLog, nextIndex, votesGranted, votesSent, voterLog, votedFor"/>
<stringAttribute key="modelComments" value=""/>
<booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
<listAttribute key="modelCorrectnessInvariants">
<listEntry value="1\lnot MoreThanOneLeader"/>
</listAttribute>
<listAttribute key="modelCorrectnessProperties"/>
<stringAttribute key="modelExpressionEval" value=""/>
<stringAttribute key="modelParameterActionConstraint" value=""/>
<listAttribute key="modelParameterConstants">
<listEntry value="AppendEntriesResponse;;AppendEntriesResponse;1;0"/>
<listEntry value="Follower;;Follower;1;0"/>
<listEntry value="Leader;;Leader;1;0"/>
<listEntry value="Nil;;Nil;1;0"/>
<listEntry value="RequestVoteResponse;;RequestVoteResponse;1;0"/>
<listEntry value="Candidate;;Candidate;1;0"/>
<listEntry value="RequestVoteRequest;;RequestVoteRequest;1;0"/>
<listEntry value="AppendEntriesRequest;;AppendEntriesRequest;1;0"/>
<listEntry value="Server;;{ &quot;s1&quot;, &quot;s2&quot;, &quot;s3&quot; };0;0"/>
<listEntry value="MaxClientRequests;;1;0;0"/>
<listEntry value="LossyNetwork;;FALSE;0;0"/>
</listAttribute>
<stringAttribute key="modelParameterContraint" value="\A i \in Server: &#13;&#10;currentTerm[i] &lt; 3"/>
<listAttribute key="modelParameterDefinitions"/>
<stringAttribute key="modelParameterModelValues" value="{}"/>
<stringAttribute key="modelParameterNewDefinitions" value=""/>
<intAttribute key="numberOfWorkers" value="12"/>
<booleanAttribute key="recover" value="false"/>
<stringAttribute key="result.mail.address" value=""/>
<intAttribute key="simuAril" value="-1"/>
<intAttribute key="simuDepth" value="50"/>
<intAttribute key="simuSeed" value="-1"/>
<stringAttribute key="specName" value="Raft_Term_Not_Persisted"/>
<stringAttribute key="view" value=""/>
</launchConfiguration>
